<!DOCTYPE html>
<html>
<head>
  <title>EnjuMendeley</title>
  <%= stylesheet_link_tag    "enju_mendeley/application", media: "all" %>
  <%= javascript_include_tag "enju_mendeley/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
